@font-face {
  font-family: Spectral;
  src: url(/fonts/spectral/spectral-regular.woff);
}

@font-face {
  font-family: Spectral;
  font-style: italic;
  src: url(/fonts/spectral/spectral-italic.woff);
}

@font-face {
  font-family: Spectral;
  font-weight: 700;
  src: url(/fonts/spectral/spectral-bold.woff);
}

@font-face {
  font-family: Iosevka;
  src: url(/fonts/iosevka/iosevka-term-regular.woff);
}

@font-face {
  font-family: Iosevka;
  font-style: italic;
  src: url(/fonts/iosevka/iosevka-term-italic.woff);
}

@font-face {
  font-family: Iosevka;
  font-weight: 700;
  src: url(/fonts/iosevka/iosevka-term-bold.woff);
}

:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

:root {
  --fg: var(--nord0);
  --fg-faint: var(--nord4);
  --bg: var(--nord6);
  --bg-faint: var(--nord5);
  --blue: var(--nord10);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: var(--nord6);
    --fg-faint: var(--nord3);
    --bg: var(--nord0);
    --bg-faint: var(--nord1);
    --blue: var(--nord9);
  }
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 20px;
  color: var(--fg);
  background-color: var(--bg);
  padding: 0px 10px;
  font-family: Spectral, serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin-top: 48px;
  margin-bottom: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a,
a:visited {
  color: var(--blue);
}

a:active,
a:focus {
  outline: 0;
}

pre,
code {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--bg-faint);
}

pre {
  padding-left: 4px;
  padding-right: 4px;

  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

code {
  font-family: Iosevka, monospace;
  font-size: 18px;
}

hr {
  border-top: 2px solid var(--fg-faint);
  border-bottom: 0;
}

blockquote {
  font-style: italic;
  border-left: 4px solid var(--fg-faint);
  margin-left: 4px;
  padding-left: 24px;
}

/* top nav */
.nav {
  text-align: right;
  font-size: 16px;
}

.nav a {
  color: var(--fg);
  text-decoration: none;
  margin-left: 4px;
  margin-right: 4px;
}

.nav a:hover {
  color: var(--blue);
}

.nav a:active,
.nav a:focus {
  outline: 0;
}

/* frontpage title */
.meta {
  text-align: center;
  margin-bottom: 48px;
}

.meta h2 {
  margin-top: 12px;
}

/* frontpage index */
.posts a {
  color: var(--fg);
  text-decoration: none;
}

.posts a:hover {
  color: var(--blue);
}

.posts a:active,
.posts a:focus {
  outline: 0;
}

.post-summary {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'title date'
    'description minutes';
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-summary .title {
  grid-area: title;
  font-size: 24px;
}

.post-summary .date {
  grid-area: date;
  text-align: right;
  font-size: 16px;
  align-self: center;
}

.post-summary .description {
  grid-area: description;
  font-size: 16px;
}

.post-summary .minutes {
  grid-area: minutes;
  text-align: right;
  font-size: 16px;
}

@media screen and (max-width: 450px) {
  .post-summary {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'title title'
      'date minutes'
      'description description';
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .post-summary .date {
    text-align: left;
    font-style: italic;
    padding-right: 6px;
    border-right: 2px solid var(--fg-faint);
  }

  .post-summary .minutes {
    text-align: left;
    font-style: italic;
    padding-left: 6px;
  }
}
