@font-face {
	font-family: "Spectral";
	src: url(/fonts/spectral/spectral-regular.woff);
}

@font-face {
	font-family: "Spectral";
	font-style: italic;
	src: url(/fonts/spectral/spectral-italic.woff);
}

@font-face {
	font-family: "Spectral";
	font-weight: 700;
	src: url(/fonts/spectral/spectral-bold.woff);
}

@font-face {
	font-family: "Cascadia Code PL";
	src: url(/fonts/cascadia/cascadia-code-pl.woff2);
}

@font-face {
	font-family: "VCR OSD Mono";
	src: url(/fonts/vcr-osd/vcr-osd-mono.ttf);
}

:root {
	--fg: #51325c;
	--fg-accent: #ad3d80;
	--bg: #fff3fd;
	--bg-faint: #f0dced;
	--blue: #2043c2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: #f0e7fe;
		--fg-accent: #ff77bd;
		--bg: #2b1330;
		--bg-faint: #4d2d54;
		--blue: #a1bcff;
	}
}
