/*
 * title fonts
 */
@font-face {
	font-family: "VCR OSD Mono";
	font-display: swap;
	src: url(/fonts/vcr-osd-mono.latin.woff2) format("woff2");
}

@font-face {
	font-family: "VT323";
	font-display: swap;
	src: url(/fonts/vt323.latin.woff2) format("woff2");
}

/*
 * body fonts
 */
@font-face {
	font-family: "Spectral";
	font-display: swap;
	src: url(/fonts/spectral/spectral.latin.woff2) format("woff2");
}

@font-face {
	font-family: "Spectral";
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/spectral/spectral-bold.latin.woff2) format("woff2");
}

@font-face {
	font-family: "Spectral";
	font-style: italic;
	font-display: swap;
	src: url(/fonts/spectral/spectral-italic.latin.woff2) format("woff2");
}

@font-face {
	font-family: "Spectral";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url(/fonts/spectral/spectral-italic.latin.woff2) format("woff2");
}

@font-face {
	font-family: "M+ 1";
	font-display: swap;
	src: url("/fonts/m-plus-1.latin.woff2") format("woff2");
}

/*
 * code fonts
 */
@font-face {
	font-family: "Cascadia Mono";
	font-display: swap;
	src: url(/fonts/cascadia-mono.latin.woff2) format("woff2");
}

@font-face {
	font-family: "M+ 1 Code";
	font-display: swap;
	src: url("/fonts/m-plus-1-code.latin.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka";
	font-display: swap;
	src: url("/fonts/iosevka/iosevka.latin.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka";
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/iosevka/iosevka-bold.latin.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka";
	font-style: italic;
	font-display: swap;
	src: url("/fonts/iosevka/iosevka-italic.latin.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url("/fonts/iosevka/iosevka-bold-italic.latin.woff2") format("woff2");
}

:root {
	--fg: hsl(284, 30%, 28%);
	--fg-faint: hsl(284, 10%, 48%);
	--fg-accent: hsl(324, 48%, 46%);
	--bg: hsl(310, 100%, 98%);
	--bg-faint: hsl(310, 45%, 93%);
	--blue: hsl(227, 72%, 44%);

	--title-font-family: "VCR OSD Mono", serif;

	--body-font-family: "Spectral", sans-serif;
	--body-font-size: 20px;

	--code-font-family: "M+ 1 Code", monospace;
	--code-font-size: 18px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: hsl(263, 92%, 95%);
		--fg-faint: hsl(263, 72%, 75%);
		--fg-accent: hsl(329, 100%, 73%);
		--bg: hsl(290, 43%, 17%);
		--bg-faint: hsl(290, 33%, 25%);
		--blue: hsl(227, 72%, 84%);
	}
}
