@font-face {
	font-family: "Spectral";
	src: url(/fonts/spectral/spectral-regular.woff);
}

@font-face {
	font-family: "Spectral";
	font-style: italic;
	src: url(/fonts/spectral/spectral-italic.woff);
}

@font-face {
	font-family: "Spectral";
	font-weight: 700;
	src: url(/fonts/spectral/spectral-bold.woff);
}

@font-face {
	font-family: "Cascadia Code PL";
	src: url(/fonts/cascadia/cascadia-code-pl.woff2);
}

@font-face {
	font-family: "VCR OSD Mono";
	src: url(/fonts/vcr-osd/vcr-osd-mono.ttf);
}

:root {
	--fg: hsl(284, 30%, 28%);
	--fg-faint: hsl(284, 10%, 48%);
	--fg-accent: hsl(324, 48%, 46%);
	--bg: hsl(310, 100%, 98%);
	--bg-faint: hsl(310, 45%, 93%);
	--blue: hsl(227, 72%, 44%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: hsl(263, 92%, 95%);
		--fg-faint: hsl(263, 72%, 75%);
		--fg-accent: hsl(329, 100%, 73%);
		--bg: hsl(290, 43%, 17%);
		--bg-faint: hsl(290, 33%, 25%);
		--blue: hsl(227, 72%, 84%);
	}
}
