---
layout: default
---

<h1>{{ title }}</h1>

<p>
	Mark Cohen, {{ page.date | dateFormat }}
</p>

<hr/>

{{ content | safe }}

<hr/>
<p id="license">
This work is licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a> license.
</p>
