<!-- unicode -->
<meta charset="utf-8" />

<!-- handle mobile viewports -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- site description for lighthouse SEO section -->
<meta name="description" content="mpcsh is Mark Cohen" />

<title>{{ title }}</title>

<link rel="icon" sizes="any" href="/static/nonbinary-flag.svg" />
<!-- .ico for Safari: https://caniuse.com/link-icon-svg -->
<link rel="icon" sizes="64x64" href="/static/nonbinary-flag.ico" />

<link rel="stylesheet" href="/static/css/sitewide.css" />
