#nav {
	text-align: right;
	font-size: 20px;
	line-height: 1.6;
}

#nav a {
	color: var(--fg);
	transition: color 0.2s, background-color 0.2s;
	text-transform: uppercase;
	font-family: "VCR OSD Mono";
	padding: 4px;
}

#nav a:hover,
#nav a:active {
	color: var(--bg);
	background-color: var(--fg);
	transition: color 0.2s, background-color 0.2s;
}
