body {
	background-color: var(--bg);
	max-width: 650px;
	margin: 40px auto;
	padding: 0px 10px;

	font-family: var(--body-font-family);
	font-size: var(--body-font-size);
	color: var(--fg);
	line-height: 1.6;
}

h1,
h2,
h3 {
	margin-top: 48px;
	margin-bottom: 0px;

	font-family: var(--title-font-family);
	font-weight: bold;
	color: var(--fg-accent);
	text-transform: uppercase;
	line-height: 1.2;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

a,
a:visited {
	color: var(--blue);
	transition:
		background-color 0.25s,
		color 0.25s;
	border-radius: 2px;
}

a:hover,
a:active {
	color: var(--bg);
	background-color: var(--blue);
	transition:
		background-color 0.25s,
		color 0.25s;
}

pre,
code {
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: var(--bg-faint);
}

pre {
	padding-left: 4px;
	padding-right: 4px;

	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}

code {
	font-family: var(--code-font-family);
	font-size: var(--code-font-size);
}

hr {
	border-color: var(--bg-faint);
	border-top-width: 2px;
	border-top-style: solid;

	border-bottom: none;
	border-left: none;
	border-right: none;
}

blockquote {
	font-style: italic;
	border-left: 4px solid var(--bg-faint);
	margin-left: 4px;
	padding-left: 24px;
}

/* blog index */
.posts a {
	color: var(--fg);
	text-decoration: none;
}

.posts a:hover,
.posts a:active {
	color: var(--blue);
}

.posts a:hover .title,
.posts a:active .title {
	color: var(--blue);
}

.post-summary {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"title date"
		"description minutes";
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-summary .title {
	grid-area: title;

	font-family: var(--title-font-family);
	font-size: 24px;
	color: var(--fg-accent);
	text-transform: uppercase;
}

.post-summary .date {
	grid-area: date;
	text-align: right;
	align-self: center;

	font-size: 16px;
}

.post-summary .description {
	grid-area: description;

	font-size: 16px;
}

.post-summary .minutes {
	grid-area: minutes;
	text-align: right;

	font-size: 16px;
}

#license {
	font-size: 0.5em;
}

@media screen and (max-width: 450px) {
	.post-summary {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"title title"
			"date minutes"
			"description description";
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.post-summary .date {
		padding-right: 6px;
		border-right: 2px solid var(--bg-faint);
		text-align: left;

		font-style: italic;
	}

	.post-summary .minutes {
		text-align: left;
		padding-left: 6px;

		font-style: italic;
	}
}

img {
	height: auto;
	width: auto;
	max-height: 75vh;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	border-radius: 4px;
}

.youtube {
	position: relative;
	padding-bottom: calc(100% * 9 / 16);
}

.youtube.vertical {
	padding-bottom: min(calc(100% * 16 / 9), 75vh);
}

.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
