@font-face {
  font-family: "Spectral";
  src: url(/fonts/spectral/spectral-regular.woff);
}

@font-face {
  font-family: "Spectral";
  font-style: italic;
  src: url(/fonts/spectral/spectral-italic.woff);
}

@font-face {
  font-family: "Spectral";
  font-weight: 700;
  src: url(/fonts/spectral/spectral-bold.woff);
}

@font-face {
  font-family: "Domaine Sans Text";
  src: url(/fonts/domaine/domaine-sans-text-regular.otf);
}

@font-face {
  font-family: "Domaine Sans Text";
  font-style: italic;
  src: url(/fonts/spectral/domaine-sans-text-italic.otf);
}

@font-face {
  font-family: "Domaine Sans Text";
  font-weight: 700;
  src: url(/fonts/spectral/domaine-sans-text-bold.otf);
}

@font-face {
  font-family: "Cascadia Code PL";
  src: url(/fonts/cascadia/cascadia-code-pl.woff2);
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url(/fonts/vcr-osd-mono.ttf);
}

:root {
  --fg: #51325c;
  /* --fg-accent: #df74a2; */
  --fg-accent: #e8529f;
  --fg-faint: #cccccc;
  --bg: #f0e7fe;
  --bg-faint: #d9d1e6;
  --blue: #4364dc;
  --light-blue: #5b7aeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #f0e7fe;
    --fg-accent: #ff77bd;
    --fg-faint: #d1d1d1;
    --bg: #3c2445;
    --bg-faint: #603072;
    --blue: #829dff;
  }
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 20px;
  color: var(--fg);
  background-color: var(--bg);
  padding: 0px 10px;
  font-family: "Domaine Sans Text";
}


h1,
h2,
h3 {
  line-height: 1.2;
  margin-top: 48px;
  margin-bottom: 0px;
  font-family: "VCR OSD Mono";
  text-transform: uppercase;
  color: var(--fg-accent);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a,
a:visited {
  color: var(--blue);
  transition: color 0.2s;
}

a:hover {
  color: var(--light-blue);
  transition: color 0.2s;
}

pre,
code {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--bg-faint);
}

pre {
  padding-left: 4px;
  padding-right: 4px;

  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

code {
  font-family: "Cascadia Code PL", monospace;
  font-size: 18px;
}

hr {
  border-top: 2px solid var(--fg-faint);
  border-bottom: 0;
}

blockquote {
  font-style: italic;
  border-left: 4px solid var(--fg-faint);
  margin-left: 4px;
  padding-left: 24px;
}

/* top nav */
.nav {
  text-align: right;
}

.nav a {
  color: var(--fg);
  transition: color 0.2s, background-color 0.2s;
  text-transform: uppercase;
  font-family: 'VCR OSD Mono';
  padding: 4px;
}

.nav a:hover {
  color: var(--bg);
  background-color: var(--fg);
  transition: color 0.2s, background-color 0.2s;
}

/* blog index */
.posts a {
  color: var(--fg);
  background-color: var(--bg-faint);
  transition: color 0.2s, background-color 0.2s;
  text-decoration: none;
}

.posts a:hover {
  color: var(--blue);
  background-color: var(--bg-faint);
  transition: color 0.2s, background-color 0.2s;
}

.post-summary {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'title date'
    'description minutes';
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-summary .title {
  grid-area: title;
  font-size: 24px;
  font-family: "VCR OSD Mono";
  text-transform: uppercase;
  color: var(--fg-accent);
}

.post-summary .date {
  grid-area: date;
  text-align: right;
  font-size: 16px;
  align-self: center;
}

.post-summary .description {
  grid-area: description;
  font-size: 16px;
}

.post-summary .minutes {
  grid-area: minutes;
  text-align: right;
  font-size: 16px;
}

#license {
  font-size: 14px;
}

@media screen and (max-width: 450px) {
  .post-summary {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'title title'
      'date minutes'
      'description description';
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .post-summary .date {
    text-align: left;
    font-style: italic;
    padding-right: 6px;
    border-right: 2px solid var(--fg-faint);
  }

  .post-summary .minutes {
    text-align: left;
    font-style: italic;
    padding-left: 6px;
  }
}

img {
  height: auto;
  width: auto;
  max-height: 75vh;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
}

.youtube {
  position: relative;
  padding-bottom: calc(100% * 9 / 16);
}

.vertical {
  padding-bottom: min(calc(100% * 16 / 9), 75vh);
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}