---
layout: "base"
title: "mpcsh"
---

<div class="meta">
  <h1>Mark Cohen</h1>
  <h2>Nerd.</h2>
</div>

<div class="posts">
  {% for post in collections.blogMaybeWithDrafts | reverse %}
    <a href="{{ post.url }}">
      <div class="post-summary">
        <div class="title">
          {% if post.data.draft %}
            DRAFT - 
          {% endif %}
          {{ post.data.title }}
        </div>
        <div class="date">{{ post.data.date | dateFormat }}</div>
        <div class="description">{{ post.templateContent | description }}</div>
        <div class="minutes">{{ post.templateContent | readingTime }} minute read</div>
      </div>
    </a>
  {% endfor %}
</div>
