---
layout: "default"
eleventyExcludeFromCollections: true
title: "Blog"
---

<h1>Blog</h1>

<div class="posts">
	{% for post in collections.blog | reverse %}
		<a href="{{ post.url }}">
			<div class="post-summary">
				<div class="title">
					{{ post.data.title }}
				</div>
				<div class="date">{{ post.page.date | dateFormat }}</div>
				<div class="description">{{ post.templateContent | description }}</div>
			</div>
		</a>
	{% endfor %}
</div>
