---
layout: default
title: "CV"
---

<style>
	{% include "cv.css" %}
</style>

<main>
	<div id="left">
		<section id="blurb">
			<div id="nameplate" class="heading">
				<span id="firstname">Mark</span>
				<span id="lastname">Cohen</span>
				<span id="pronouns">they/them</span>
			</div>

			<p>
				I am a human-oriented software engineer with a keen eye for detail. I hold particular expertise in web development, platform engineering, and language design.
			</p>
		</section>

		<section class="quick-info">
			<div class="heading">Strengths</div>
			<p>
				I pride myself on my ability to quickly build up complex knowledge from first principles. I approach technical work with a healthy theoretical rigor, tempered by pragmatism.
			</p>
			<p>
				I am a collaborator by default. I put real care and effort into communicating with compassion, trust, precision, and concision.
			</p>
			<p>
				Whether it's web development or API design, I think like an interior designer: ergonomics, accessibility, and polish are always top-of-mind.
			</p>
			<p>
				I have experience-forged skill in driving consensus among folks with competing needs and priorities.
			</p>
		</section>

		<section class="quick-info">
			<div class="heading">Ethics</div>
			<p>
				It is impossible for technology to be neutral or apolitical; the conditions of society and the workplace are written into the systems we build.
			</p>
			<p>
				It is my responsibility to ensure that the systems I build cannot be weaponized to do harm.
			</p>
		</section>

		<section class="quick-info">
			<div class="heading">Proficiencies</div>
			<p class="proficiencies">
				JavaScript • HTML • CSS <br/>
				TypeScript • Modern React <br/>
			</p>
			<p>
				Rust • Shell Scripting • C <br/>
				Standard ML • Lisp • Scheme <br/>
			</p>
			<p class="proficiencies">
				Ski Mountaineering • GeoGuessr <br/>
				Guitar • <i>Magic: The Gathering</i>
			</p>
		</section>

		<section class="quick-info">
			<div class="heading">Beginnings</div>
			<p class="proficiencies">
				Java • C++ • Haskell <br/>
				Remix • Playwright <br/>
			</p>
			<p class="proficiencies">
				Running • Speedcubing <br/>
			</p>
		</section>
	</div>

	<div id="right">
		<section class="job">
			<div class="heading">
				<span class="employer">Ecma TC39</span>
				<span class="tenure">Sep 2019 - Present</span>
			</div>
			<p>
				As a <b>
					<a href="https://github.com/tc39/proposal-pattern-matching">Pattern Matching</a> Champion</b>, I am designing the proposal's syntax and semantics, drafting spec text, and presenting on our work. This work is highly collaborative, involving a team of co-Champions and stakeholders representing the browsers.
			</p>
			<p>
				As a <b>founder & facilitator of the Inclusion Group</b>, I am working towards a more inclusive committee in collaboration with group members. Active projects include sourcing communication and antiracism trainings, and revising our invited expert policy.
			</p>
			<p>
				I sit on the <b><a href="https://tc39.es/code-of-conduct/#code-of-conduct-committee">Code of Conduct committee</a></b>, where I work to safeguard TC39.
			</p>
		</section>

		<section class="job">
			<div class="heading">
				<span class="employer">Netflix</span>
				<span class="tenure">Nov 2021 - May 2023</span>
			</div>
			<p>
				On the <b>Node.js Platform team</b>, I served the needs of most Netflix developers using JavaScript in any capacity.
			</p>
			<p>
				I migrated the ~million-instance fleet of production apps using our <a href="https://openjsf.org/blog/2020/09/24/from-streaming-to-studio-the-evolution-of-node-js-at-netflix/">NodeQuark</a> platform to support IPv6 in collaboration with my teammate.
			</p>
			<p>
				I worked on outwardly-transparent reimplementations of two legacy core services underpinning NodeQuark — migrating them from Spring to our own NodeQuark platform — in collaboration with my teammates.
			</p>
			<p>
				I staffed a lively on-call rotation and fielded a variety production incidents including DDoS, targeted exploit attempts, invisible memory leaks, and failovers of entire regions.
			</p>
		</section>

		<section class="job">
			<div class="heading">
				<span class="employer">Slack</span>
				<span class="tenure">Jan - Sep 2021</span>
			</div>
			<p>
				On the <b>Desktop Foundations team</b>, I maintained Slack's core Electron / RxJS desktop app.
			</p>
			<p>
				I overhauled our handling of user preferences to support the <a href="https://slack.com/solutions/govslack">GovSlack</a> initiative, and built a new mechanism to externally configure those preferences. I found and resolved several invisible security and robustness issues in the process.
			</p>
		</section>

		<section class="job">
			<div class="heading">
				<span class="employer">Braintree</span>
				<span class="tenure">Jun - Aug 2018, Aug 2019 - Dec 2020</span>
			</div>
			<p>
				On <b>Team Panels</b>, I built and maintained a React / Flow / Redux app and a Java proxy that replaced the legacy merchant control panel page-by-page.
			</p>
			<p>
				I led the first PayPal / Braintree i18n collaboration, working with their translators to create our localized bundles. I implemented a versioned continuous delivery process for those bundles — and for our two core apps in the process — and designed and built a frontend library for localizing our web app.
			</p>
			<p>
				I built a type-safe data model for chargeback disputes, and in the process uncovered deeper inconsistencies in adjacent models.
			</p>
			{# <p>
				I led an effort to scrub our documentation of racist <code>whitelist</code> / <code>blacklist</code> terminology.
			</p> #}
			{# <p>
				On the <b>PayPal Checkout SDK team</b>, I worked on a frontend library to improve the ease of integrating with PayPal's smart payment buttons in React apps. I also worked on adding Apple Pay to the PayPal JavaScript SDK.
			</p> #}
		</section>

		<section class="job">
			<div class="heading">
				<span class="employer">Keybase</span>
				<span class="tenure">Jun - Sep 2017</span>
			</div>
			<p>
				As an intern, I wrote a <a href="https://github.com/keybase/node-saltpack">standard implementation</a> of the <a href="https://saltpack.org">SaltPack 1.0</a> message encryption format, and built libraries for stream <a href="https://github.com/keybase/node-armor-x">encoding</a> and <a href="https://github.com/keybase/node-chunk-stream">chunking</a>.
			</p>
		</section>

		<section class="job">
			<div class="heading">
				<span class="employer">University of Chicago</span>
				<span class="tenure">Sep 2015 - Jun 2019</span>
			</div>
			<p>
				On my way to a <b>BSc in Computer Science</b>, I completed a thesis advised by <a href="http://people.cs.uchicago.edu/~adamshaw">Adam Shaw</a>. I created a type-sound, purely functional <a href="https://github.com/mpcsh/ForML">language</a> capable of imperative-esque iteration. This work was <a href="https://github.com/mpcsh/ForML/blob/main/paper.pdf">written up</a> and <a href="https://www.youtube.com/watch?v=n8rnVjCZ570">presented</a> to an audience of students and professors. In the process, I discovered and rectified an incompleteness in a foundational type inference algorithm for type classes.
			</p>
			<p>
				I staffed five offerings of three classes as a teaching assistant for <a href="http://people.cs.uchicago.edu/~borja">Borja Sotomayor</a>, including the first two offerings of Introduction to Software Engineering, where I acted as a tech lead to student teams developing major pieces of software in C, including <a href="https://github.com/cmsc22000-project-2018">a Redis trie library & app suite</a> and <a href="https://github.com/uchicago-cs/chiventure">an interactive fiction game engine</a>.
			</p>
		</section>
	</div>
</main>
