<!DOCTYPE html>
<html>
  <head>
    <!-- unicode -->
    <meta charset="utf-8">

    <!-- this makes the site responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- article title -->
    <title>{{ title }}</title>

    <!-- sitewide css -->
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

  <div class="nav">
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/">Home</a>
  </div>

  {{ content | safe }}

  </body>
</html>
